<template>
    <div class="columns is-multiline">
        <div class="column is-full">
            <b-table
                :data="customers"
                v-if="customers"
                :selected.sync="selectedCustomer"
                narrowed
                striped
                :row-class="(row,index) => 'hoverable-row'"
            >
                <template v-for="column in customersTable">
                    <b-table-column :key="column.field" :field="column.field" :label="column.label" centered v-slot="props">
                        <template v-if="column.type === 'string'">
                            <span>{{props.row[column.field]}}</span>
                        </template>
                        <template v-if="column.type === 'list'">
                            <span v-for="item in props.row[column.field]" :key="item.id" class="tag mr-2">{{item.name}}</span>
                        </template>
                    </b-table-column>
                </template>
            </b-table>
        </div>

        <b-modal
            v-model="journeyComponentActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Customer Journey"
            aria-modal
            @close="clearSelectedCustomer"
        >
            <template #default="props">
                <journey :selected-customer="selectedCustomer" @close="props.close" />
            </template>
        </b-modal>
    </div>
</template>

<script>

import {getAllCustomers} from "../../../modules/api/users";
import Journey from "./Journey";

export default {
    name: "Customers",
    components: {Journey},
    watch:{
        selectedCustomer: function(val){
            this.journeyComponentActive = !!val;
        }
    },
    data(){
        return({
            customers:null,
            selectedCustomer: null,
            customersTable:[
                {
                    field:'id',
                    label: "ID",
                    width: 40,
                    numeric: true,
                    type:'string'
                },
                {
                    field:'email',
                    label: 'Email',
                    searchable: true,
                    type:'string'
                },
                {
                    field:'name',
                    label:'Name',
                    searchable: true,
                    type:'string'
                },
            ],
            journeyComponentActive: false
        })
    },
    mounted() {
        getAllCustomers().then((result) =>{
            this.customers = result.data.customers;
        })
    },
    methods:{
        clearSelectedCustomer: function(){
            this.selectedCustomer = null;
        }
    }
}
</script>

<style scoped>

</style>
