<template>
    <div class="modal-card" v-if="selectedCustomer">
        <header class="modal-card-head">
            <p class="modal-card-title">Journey {{selectedCustomer.name}}</p>
            <button
                type="button"
                class="delete"
                @click="$emit('close')"/>
        </header>
        <div class="modal-card-body">
            <div class="timeline">
                <header class="timeline-header">
                    <span class="tag is-medium is-primary">Start</span>
                </header>
                <div class="timeline-item" v-for="tracking in userTracking" v-if="userTracking">
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <p class="heading">{{ new Date(tracking.accessed_at) }}</p>
                        <p v-if="tracking.link_parameters">{{ tracking.link.address + tracking.link_parameters}}</p>
                        <p v-else>{{tracking.link.address}}</p>
                    </div>
                </div>
                <div class="timeline-header">
                    <span class="tag is-medium is-primary">End</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {getUserTracking} from "../../../modules/api/tracking";

export default {
    name: "Journey",
    props:['selectedCustomer'],
    data(){
        return({
            userTracking:null
        })
    },
    mounted() {
        getUserTracking(this.selectedCustomer.id).then((result) =>{
            this.userTracking = result.data.tracking;
        })
    }
}
</script>

<style scoped>

</style>
