<template>
    <section>
        <div class="columns">
            <div class="column is-half">
                <b-datepicker
                    :value="from"
                    v-model="from"
                    rounded
                    placeholder="Select..."
                    icon="calendar-today"
                    locale="en-Us">
                </b-datepicker>
            </div>
            <div class="column is-half">
                <b-datepicker
                    :value="to"
                    v-model="to"
                    rounded
                    placeholder="Select..."
                    icon="calendar-today"
                    locale="en-Us">
                </b-datepicker>
            </div>
        </div>
        <div class="column">
            <b-button class="is-pulled-right" type="is-primary" @click="getTrackingWithTime">Filter</b-button>
        </div>
        <div class="column is-full">
            <b-table
                :data="trackingByLinks"
                v-if="trackingByLinks"
                :selected.sync="selectedLink"
                narrowed
                striped
                :row-class="(row,index) => 'hoverable-row'"
            >
                <template v-for="column in linksTable.columns">
                    <b-table-column :key="column.label" :field="column.field" :label="column.label" centered v-slot="props">
                        <template v-if="column.type === 'string'">
                            <span>{{props.row[column.field]}}</span>
                        </template>
                        <template v-if="column.type === 'nested'">
                            <span>{{props.row[column.field][column.nested]}}</span>
                        </template>
                        <template v-if="column.type === 'type'">
                            <span>{{props.row[column.field]['type']['name']}}</span>
                        </template>
                    </b-table-column>
                </template>
            </b-table>
        </div>
    </section>
</template>

<script>

import {getTrackingByLinks,getTrackingByLinksWithTime} from "../../../modules/api/tracking";

export default {
    name: "LinksTracking",
    data(){
        return({
            links:null,
            trackingByLinks: null,
            selectedLink:null,
            linksTable:{
                links:null,
                columns:[
                    {
                        field:'link_id',
                        label: "ID",
                        width: 40,
                        numeric: true,
                        type:'string'
                    },
                    {
                        field:'link',
                        label: 'Adresa',
                        searchable: true,
                        type:'nested',
                        nested:'address'
                    },
                    {
                        field:'link',
                        label: 'Tip',
                        searchable: true,
                        type:'type',
                    },
                    {
                        field:'clicks',
                        label: "Clicks",
                        searchable: true,
                        type:'string'
                    }
                ]
            },
            to:null,
            from: null
        })
    },
    mounted() {
        // getAllLinks().then((result)=>{
        //     this.links = result.data.links;
        // })
        if(this.to === null && this.from === null)
        {
            getTrackingByLinks().then((result) => {
                this.trackingByLinks = result.data.tracking;
            })
        }
    },
    methods:{
        getTrackingWithTime: function()
        {
            getTrackingByLinksWithTime({from: this.formatDate(this.from),to:this.formatDate(this.to)}).then((result) => {
                this.trackingByLinks = result.data.tracking;
            })
        },
        formatDate: function(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }
    }
}
</script>

<style scoped>

</style>
