//https://coolors.co/052f5f-ffc145-337357-d1495b-d62828-f5f4f5-191a24

/* SCSS HEX */
$prussian-blue: #052f5fff;
$maximum-yellow-red: #ffc145ff;
$amazon: #337357ff;
$brick-red: #d1495bff;
$maximum-red: #d62828ff;
$cultured: #f5f4f5ff;
$raisin-black: #191a24ff;

/* SCSS RGB */
$prussian-blue: rgba(5, 47, 95, 1);
$maximum-yellow-red: rgba(255, 193, 69, 1);
$amazon: rgba(51, 115, 87, 1);
$brick-red: rgba(209, 73, 91, 1);
$maximum-red: rgba(214, 40, 40, 1);
$cultured: rgba(245, 244, 245, 1);
$raisin-black: rgba(25, 26, 36, 1);


/* SCSS HEX */
$cadet: #4a6d7cff;
$rose-dust: #aa6373ff;
$platinum: #e3e3e3ff;
$may-green: #349946ff;
$rich-black-fogra-39: #0a0908ff;
$radical-red: #ff1654ff;
$black-chocolate: #1f1300ff;

/* SCSS RGB */
$cadet: rgba(74, 109, 124, 1);
$rose-dust: rgba(170, 99, 115, 1);
$platinum: rgba(227, 227, 227, 1);
$may-green: rgba(52, 153, 70, 1);
$rich-black-fogra-39: rgba(10, 9, 8, 1);
$radical-red: rgba(255, 22, 84, 1);
$black-chocolate: rgba(31, 19, 0, 1);
