@import 'variables';

$section-padding: .75rem .75rem;

$primary: $may-green;
$info: $maximum-yellow-red;
$success: $may-green;
$warning: $rose-dust;
$danger: $radical-red;
$light: $platinum;
$dark: $rich-black-fogra-39;

@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~bulma-timeline";
@import "~buefy/src/scss/buefy";


.menu-list a.is-active{
    background-color: $primary;
}

.hoverable-row{
    cursor:pointer;
    &:hover{
        background-color: #e5e5e5;
    }
}

.table.is-striped tbody tr:not(.is-selected):nth-child(even){
    &:hover{
        background-color:#e5e5e5;
    }
}
