<template>
    <div>
        <b-navbar type="is-light" v-if="isAuthenticated">
            <template #brand>
                <b-navbar-item>
                    <sidebar/>
                </b-navbar-item>
                <b-navbar-item tag="router-link" :to="{ path: '/' }">
                    <h3>Heatmap</h3>
                </b-navbar-item>
            </template>
            <template #end>
<!--                <b-navbar-item tag="div">-->
<!--                    <div class="buttons">-->
<!--                        <a class="button is-primary">-->
<!--                            <strong>Sign up</strong>-->
<!--                        </a>-->
<!--                        <a class="button is-light">-->
<!--                            Log in-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </b-navbar-item>-->
            </template>
        </b-navbar>
        <section class="section">
            <div class="container">
                <router-view/>
            </div>
            <b-loading :is-full-page="true" v-model="isLoading" />
        </section>
    </div>
</template>

<script>

import Sidebar from "./components/navigation/Sidebar";
import {mapGetters} from 'vuex';
import {getAuthenticatedUser} from "./modules/api/users";

export default {
    name: "App",
    components:{
        'sidebar': Sidebar
    },
    computed:{
        ...mapGetters([
            'isAuthenticated',
            'isLoading'
        ])
    },
    mounted() {
        if(this.isAuthenticated){
            getAuthenticatedUser()
                .then(response => {
                    if(response.status === 200){
                        this.$store.dispatch('login',{user:response.data.user});
                    }
                }).catch(error => {
                if(error.response.status === 401){
                    this.$router.push({name:'Login'});
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
