<template>
    <div>
        <b-sidebar
            type="is-light"
            :fullheight="fullHeight"
            :fullwidth="fullwidth"
            :overlay="overlay"
            :right="right"
            v-model="sidebarLocal"
            @close="toggleSidebar"
            open.sync
        >
            <div class="p-1">
                <header class="header">
                    <h1>Heatmap</h1>
                </header>
                <hr />
                <b-menu activable>
                    <b-menu-list label="Menu">
                        <b-menu-item icon-pack="fas" icon="tachometer-alt" label="Dashboard" tag="router-link" to="/backoffice/dashboard" :active="this.$router.currentRoute.name === 'Dashboard'"/>
                        <b-menu-item icon-pack="fas" icon="users" label="Utilizatori" tag="router-link" to="/backoffice/users" :active="this.$router.currentRoute.name === 'Users'"/>
                        <b-menu-item icon-pack="fas" icon="users" label="Links" tag="router-link" to="/backoffice/links" :active="this.$router.currentRoute.name === 'Links'"/>
                    </b-menu-list>
                    <b-menu-list label="tracking">
                        <b-menu-item icon="link" label="Links" tag="router-link" to="/backoffice/tracking/links" :active="this.$router.currentRoute.name === 'LinksTracking'" />
                        <b-menu-item icon="account-group" label="Customers" tag="router-link" to="/backoffice/tracking/customers" :active="this.$router.currentRoute.name === 'Customers'" />
                    </b-menu-list>
                    <b-menu-list label="admin">
                        <b-menu-item label="Mock" icon-pack="fas" icon="cogs">
                            <b-menu-item icon="file" label="Mock data" tag="router-link" to="/backoffice/mock" :active="this.$router.currentRoute.name === 'Mock'" />
                        </b-menu-item>
                    </b-menu-list>
                    <b-menu-list label="Actions">
                        <b-menu-item label="Logout" @click="logout"></b-menu-item>
                    </b-menu-list>
                </b-menu>
            </div>
        </b-sidebar>
        <b-button @click="toggleSidebar" size="is-small" type="is-primary">
            <b-icon pack="fas" icon="bars"/>
        </b-button>
    </div>
</template>

<script>
import {mapGetters} from 'vuex';
import {logoutUser} from "../../modules/api/authentication";

export default {
    name: "Sidebar",
    data() {
        return {
            overlay: true,
            fullHeight: true,
            fullwidth: false,
            right: false
        };
    },
    computed:{
        ...mapGetters({
            sidebar: 'sidebar'
        }),
        sidebarLocal:{
            get(){
                return this.sidebar;
            },
            set(value){
                if(value === true)
                    this.$store.commit('openSidebar');
                else
                    this.$store.commit('closeSidebar');
            }
        }
    },
    methods:{
        toggleSidebar()
        {
            this.sidebarLocal = this.sidebarLocal !== true;
        },
        logout: function(){
            logoutUser().then( result => {
                if(result.status === 200){
                    this.$store.dispatch('logout');
                    this.$router.push({name:'Login'});
                }
            })
        }
    }
}
</script>

<style scoped>
.header{
    font-size:32px;
    font-weight: bolder;
}
hr{
    background-color: #c5c5c5;
    border: none;
    display: block;
    height: 1px;
    margin: 1rem 0 1.5rem 0;
}
</style>
