<template>
    <div class="columns">
        <div class="column">
            <div class="card" v-if="countAllLinks !== 0">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h3>Links</h3>
                        <span class="card-counter">{{this.countAllLinks}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" v-if="countAllCustomers !== 0">
                <div class="card-content">
                    <div class="content has-text-centered">
                        <h3>Customers</h3>
                        <span class="card-counter">{{this.countAllCustomers}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {getCountAllLinks,getCountAllCustomers} from "../modules/api/dashboard";

export default {
    name: "Dashboard",
    data(){
        return ({
            countAllLinks: 0,
            countAllCustomers: 0
        })
    },
    mounted(){
        getCountAllLinks().then((result) => {
            this.countAllLinks = result.data.count;
        })

        getCountAllCustomers().then((result) => {
            this.countAllCustomers = result.data.count;
        })
    }
}
</script>

<style lang="scss" scoped>
.card-counter{
    font-size:32px;
    font-weight: bold;
}
</style>
