<template>
    <div class="columns is-multiline">
        <div class="column is-full">
            <b-button class="is-pulled-right" type="is-primary" @click="addLinkComponentActive = true">Adauga Link</b-button>
        </div>
        <div class="column is-full">
            <b-table
                :data="linksTable.links"
                v-if="linksTable.links"
                :selected.sync="selectedLink"
                narrowed
                striped
                :row-class="(row,index) => 'hoverable-row'"
            >
                <template v-for="column in linksTable.columns">
                    <b-table-column :key="column.field" :field="column.field" :label="column.label" centered v-slot="props">
                        <template v-if="column.type === 'string'">
                            <span>{{props.row[column.field]}}</span>
                        </template>
                        <template v-if="column.type === 'list'">
                            <span v-for="item in props.row[column.field]" :key="item.id" class="tag mr-2">{{item.name}}</span>
                        </template>
                        <template v-if="column.type === 'nested'">
                            <span>{{props.row[column.field][column.nested]}}</span>
                        </template>
                    </b-table-column>
                </template>
            </b-table>
        </div>
        <b-modal
            v-model="addLinkComponentActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Add Link"
            aria-modal
            ref="addLinkModal"
        >
            <template #default="props">
                <add-link @close="props.close" @linkAdded="addedLink"></add-link>
            </template>
        </b-modal>
        <b-modal
            v-model="editLinkComponentActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Edit Link"
            aria-modal
            @close="clearSelectedLink"
        >
            <template #default="props">
                <edit-link :selected-link="selectedLink" @close="props.close" @linkEdited="editedLink" @linkDeleted="deletedLink" />
            </template>
        </b-modal>
    </div>
</template>

<script>
import {getAllLinks} from "../modules/api/links";

import AddLink from "../components/forms/AddLink";
import EditLink from "../components/forms/EditLink";

export default {
    name: "Links",
    components:{
        'AddLink': AddLink,
        'EditLink': EditLink
    },
    data(){
        return({
            addLinkComponentActive: false,
            editLinkComponentActive:false,
            selectedLink:null,
            linksTable:{
                links:null,
                columns:[
                    {
                        field:'id',
                        label: "ID",
                        width: 40,
                        numeric: true,
                        type:'string'
                    },
                    {
                        field:'address',
                        label: 'Adresa',
                        searchable: true,
                        type:'string'
                    },
                    {
                        field:'type',
                        label: 'Tip',
                        searchable: true,
                        type: "nested",
                        nested:'name'
                    }
                ]
            }
        })
    },
    watch:{
        selectedLink: function(val){
            this.editLinkComponentActive = !!val;
        }
    },
    mounted() {
        getAllLinks().then(result => {
            if(result.status === 200){
                this.linksTable.links = result.data.links;
            }
        }).catch(error => {
        })
    },
    methods:{
        clearSelectedLink: function (){
            this.selectedLink = null;
        },
        editedLink: function(val){
            this.selectedLink = null;
            this.linksTable.links = this.linksTable.links.map(link => {
                if(link.id === val.id){
                    return val;
                }
                return link;
            })
            this.$buefy.toast.open({
                message: 'Link-ul ' + val.address + " editat cu succes!",
                type: 'is-success',
                position:'is-top'
            })
        },
        deletedLink: function(val){
            this.selectedLink = null;
            _.remove(this.linksTable.links,function(link){
                return link.id === val.id;
            })
            this.$buefy.toast.open('Link-ul '+val.address+' a fost sters cu succes');
        },
        addedLink: function(val){
            this.linksTable.links.push(val);
            this.$refs.addLinkModal.close();
            this.$buefy.toast.open('Link-ul '+val.address+' a fost adaugat cu succes');
        }
    }
}
</script>

<style scoped>

</style>
