<template>
    <div class="columns is-vcentered is-fullheight">
        <div class="column is-desktop is-one-third is-offset-one-third">
            <div class="column is-fullwidth">
                <section class="hero">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title has-text-centered">
                                Heatmap
                            </h1>
                        </div>
                    </div>
                </section>
            </div>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Login
                    </p>
                </header>
                <login-form />
            </div>
        </div>
    </div>
</template>

<script>

import LoginForm from "../components/forms/LoginForm";

export default {
    name: "Login",
    data(){
        return({})
    },
    components:{
        LoginForm: LoginForm
    }
}
</script>

<style scoped>
.columns.is-vcentered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.columns.is-fullheight{
    height:100vh;
}
</style>
