<template>
    <add-tracking />
</template>

<script>

import AddTracking from "../components/forms/AddTracking";
export default {
    name: "MockData",
    components:{
        'AddTracking': AddTracking
    }
}
</script>

<style scoped>

</style>
