<template>
    <div class="columns is-multiline">
        <div class="column is-full">
            <b-button class="is-pulled-right" type="is-primary" @click="addUserComponentActive = true">Adauga Utilizator</b-button>
        </div>
        <div class="column is-full">
            <b-table
                :data="usersTable.users"
                v-if="usersTable.users"
                :selected.sync="selectedUser"
                narrowed
                striped
                :row-class="(row,index) => 'hoverable-row'"
            >
                <template v-for="column in usersTable.columns">
                    <b-table-column :key="column.field" :field="column.field" :label="column.label" centered v-slot="props">
                        <template v-if="column.type === 'string'">
                            <span>{{props.row[column.field]}}</span>
                        </template>
                        <template v-if="column.type === 'list'">
                            <span v-for="item in props.row[column.field]" :key="item.id" class="tag mr-2">{{item.name}}</span>
                        </template>
                    </b-table-column>
                </template>
            </b-table>
        </div>
        <b-modal
            v-model="addUserComponentActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Add User"
            aria-modal
            ref="addUserModal"
        >
            <template #default="props">
                <add-user @close="props.close" @userAdded="addedUser"></add-user>
            </template>
        </b-modal>
        <b-modal
            v-model="editUserComponentActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="true"
            aria-role="dialog"
            aria-label="Edit User"
            aria-modal
            @close="clearSelectedUser"
        >
            <template #default="props">
                <edit-user :selected-user="selectedUser" @close="props.close" @userEdited="editedUser" @userDeleted="deletedUser" />
            </template>
        </b-modal>
    </div>
</template>

<script>

import {getAllUsers} from "../modules/api/users";
import AddUser from "../components/forms/AddUser";
import EditUser from "../components/forms/EditUser";

export default {
    name: "Users",
    components:{
        'AddUser': AddUser,
        'EditUser': EditUser
    },
    data(){
        return({
            addUserComponentActive: false,
            editUserComponentActive:false,
            selectedUser:null,
            usersTable:{
                users:null,
                columns:[
                    {
                        field:'id',
                        label: "ID",
                        width: 40,
                        numeric: true,
                        type:'string'
                    },
                    {
                        field:'email',
                        label: 'Email',
                        searchable: true,
                        type:'string'
                    },
                    {
                        field:'name',
                        label:'Name',
                        searchable: true,
                        type:'string'
                    },
                    {
                        field:'roles',
                        label: 'Roles',
                        searchable: true,
                        type:'list'
                    }
                ]
            }
        })
    },
    watch:{
        selectedUser: function(val){
            this.editUserComponentActive = !!val;
        }
    },
    mounted() {
        getAllUsers().then(result => {
            if(result.status === 200){
                this.usersTable.users = result.data.users;
            }
        }).catch(error => {
        })
    },
    methods:{
        clearSelectedUser: function (){
            this.selectedUser = null;
        },
        editedUser: function(val){
            this.selectedUser = null;
            this.usersTable.users = this.usersTable.users.map(user => {
                if(user.id === val.id){
                    return val;
                }
                return user;
            })
            this.$buefy.toast.open({
                message: 'Utilizatorul ' + val.name + " editat cu succes!",
                type: 'is-success',
                position:'is-top'
            })
        },
        deletedUser: function(val){
            this.selectedUser = null;
            _.remove(this.usersTable.users,function(user){
                return user.id === val.id;
            })
            this.$buefy.toast.open('Utilizatorul '+val.name+' a fost sters cu succes');
        },
        addedUser: function(val){
            this.usersTable.users.push(val);
            this.$refs.addUserModal.close();
            this.$buefy.toast.open('Utilizatorul '+val.name+' a fost adaugat cu succes');
        }
    }
}
</script>

<style scoped>

</style>
