<template>
    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Adauga link nou</p>
                <button
                    type="button"
                    class="delete"
                    @click="$emit('close')"/>
            </header>
            <section class="modal-card-body">

                <validation-provider vid="name" name="Adresa" rules="required" v-slot="{errors}">
                    <b-field label="Adresa">
                        <b-input
                            type="text"
                            :value="form.address"
                            v-model="form.address"
                            placeholder="Adresa"
                            required>
                        </b-input>
                    </b-field>
                </validation-provider>

                <validation-provider vid="role" name="Tip" rules="required|alpha_num" v-slot="{errors}">
                    <b-field label="Tip">
                        <b-select :value="form.type" v-model="form.type" placeholder="Selecteaza un tip" expanded required>
                            <option
                                v-for="(value,name) in linkTypes"
                                :value="value"
                                :key="value">
                                {{ name}}
                            </option>
                        </b-select>
                    </b-field>
                </validation-provider>

            </section>
            <footer class="modal-card-foot">
                <b-button
                    label="Inchide"
                    @click="$emit('close')" />
                <b-button
                    label="Creeaza Link"
                    @click="handleSubmit(addLink)" :disabled="invalid"
                    type="is-primary" />
            </footer>
        </div>
    </validation-observer>
</template>

<script>

import {addNewLink,getLinkTypes} from "../../modules/api/links";
import {ValidationProvider, ValidationObserver} from 'vee-validate/dist/vee-validate.full';

export default {
    name: "AddLink",
    components:{
        ValidationProvider,
        ValidationObserver
    },
    data(){
        return({
            form:{
                address: null,
                type: null
            },
            linkTypes: null
        })
    },
    mounted() {
        getLinkTypes().then((result) => {
            this.linkTypes = result.data.types;
        }).catch((error)=>{})
    },
    methods:{
        addLink: function(){
            let address = this.form.address;
            let type = this.form.type;

            this.$refs.form.validate().then(success => {
                if (!success) {
                    return;
                }

                addNewLink({address,type}).then((result) => {
                    if(result.status === 200)
                    {
                        this.$emit('linkAdded',result.data.link);
                    }
                })

                this.resetForm();

                // Wait until the models are updated in the UI
                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            });
        },
        resetForm: function(){
          this.form.address = null;
        }
    }
}
</script>

<style scoped>

</style>
