<template>
    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
        <validation-provider vid="link" name="Link" rules="required" v-slot="{errors}">
            <b-field label="Link">
                <b-select :value="form.link_id" v-model="form.link_id" placeholder="Selecteaza un link" expanded required v-if="links">
                    <option
                        v-for="link in links"
                        :value="link.id"
                        :key="link.id">
                        {{link.address}}
                    </option>
                </b-select>
            </b-field>
        </validation-provider>

        <validation-provider vid="customer" name="Customer" rules="required" v-slot="{errors}">
            <b-field label="Customer">
                <b-select :value="form.user_id" v-model="form.user_id" placeholder="Selecteaza un client" expanded required v-if="customers">
                    <option
                        v-for="customer in customers"
                        :value="customer.id"
                        :key="customer.id">
                        {{customer.name}}
                    </option>
                </b-select>
            </b-field>
        </validation-provider>

        <validation-provider vid="parameters" name="Parametrii" v-slot="{errors}">
            <b-field label="Parametrii">
                <b-input
                    type="text"
                    :value="form.link_parameters"
                    v-model="form.link_parameters"
                    placeholder="Parametrii"
                    >
                </b-input>
            </b-field>
        </validation-provider>

        <validation-provider vid="accessed_at" name="Accesat la" rules="required" v-slot="{errors}">
            <b-field label="Accesat la">
                <b-datetimepicker
                    :value="form.accessed_at"
                    v-model="form.accessed_at"
                    rounded
                    placeholder="Select..."
                    icon="calendar-today"
                    locale="en-Us"
                    :timepicker="{ enableSeconds:true }"
                    horizontal-time-picker>
                </b-datetimepicker>
            </b-field>
        </validation-provider>

        <b-button
            label="Adauga"
            @click="handleSubmit(addTracking)" :disabled="invalid"
            type="is-primary" />

    </validation-observer>
</template>

<script>
import {ValidationProvider, ValidationObserver} from 'vee-validate/dist/vee-validate.full';
import {getAllLinks} from "../../modules/api/links";
import {getAllCustomers} from "../../modules/api/users";
import {addTracking} from "../../modules/api/tracking";

export default {
    name: "AddTracking",
    components:{
        ValidationProvider,
        ValidationObserver
    },
    data(){
        return({
            form:{
                link_id: null,
                link_parameters: null,
                accessed_at:null,
                user_id: null
            },
            links: null,
            customers: null
        })
    },
    mounted(){
        getAllLinks().then((result) => {
            this.links = result.data.links;
        })

        getAllCustomers().then((result) => {
            this.customers = result.data.customers;
        });
    },
    methods:{
        addTracking: function()
        {
            let link_id = this.form.link_id;
            let link_parameters = this.form.link_parameters;
            let accessed_at = new Date(this.form.accessed_at);
            let user_id = this.form.user_id;

            addTracking({
                link_id: link_id,
                link_parameters: link_parameters,
                accessed_at: accessed_at,
                user_id: user_id
            }).then((result) => {

            })
        }
    }
}
</script>

<style scoped>

</style>
