<template>
    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Adauga utilizator nou</p>
                <button
                    type="button"
                    class="delete"
                    @click="$emit('close')"/>
            </header>
            <section class="modal-card-body">

                <validation-provider vid="name" name="Nume" rules="required|alpha_num" v-slot="{errors}">
                    <b-field label="Nume">
                        <b-input
                            type="text"
                            :value="form.name"
                            v-model="form.name"
                            placeholder="Nume"
                            required>
                        </b-input>
                    </b-field>
                </validation-provider>

                <validation-provider vid="email" name="Email" rules="required|email" v-slot="{errors}">
                    <b-field label="Email">
                        <b-input
                            type="email"
                            :value="form.email"
                            v-model="form.email"
                            placeholder="Email"
                            required>
                        </b-input>
                    </b-field>
                </validation-provider>

                <validation-provider vid="role" name="Rol" rules="required|alpha_num" v-slot="{errors}">
                    <b-field label="Rol">
                        <b-select :value="form.role" v-model="form.role" placeholder="Selecteaza un rol" expanded required>
                            <option
                                v-for="role in roles"
                                :value="role.name"
                                :key="role.id">
                                {{ role.name }}
                            </option>
                        </b-select>
                    </b-field>
                </validation-provider>

                <validation-provider vid="password" name="Parola" rules="required|alpha_num" v-slot="{errors}">
                    <b-field label="Parola">
                        <b-input
                            type="password"
                            :value="form.password"
                            v-model="form.password"
                            password-reveal
                            placeholder="Parola"
                            required>
                        </b-input>
                    </b-field>
                </validation-provider>

            </section>
            <footer class="modal-card-foot">
                <b-button
                    label="Inchide"
                    @click="$emit('close')" />
                <b-button
                    label="Creeaza Utilizator"
                    @click="handleSubmit(addUser)" :disabled="invalid"
                    type="is-primary" />
            </footer>
        </div>
    </validation-observer>
</template>

<script>

import {getAllRoles,addNewUser} from "../../modules/api/users";
import {ValidationProvider, ValidationObserver} from 'vee-validate/dist/vee-validate.full';

export default {
    name: "AddUser",
    components:{
        ValidationProvider,
        ValidationObserver
    },
    data(){
        return({
            form:{
                name: null,
                email: null,
                password: null,
                role: null
            },
            roles: null
        })
    },
    mounted() {
        getAllRoles().then((result) => {
            if(result.status === 200){
                this.roles = result.data.roles;
            }
        }).catch((error) => {
            console.log(error);
        })
    },
    methods:{
        addUser: function(){
            let name = this.form.name;
            let email = this.form.email;
            let password = this.form.password;
            let role = this.form.role;

            this.$refs.form.validate().then(success => {
                if (!success) {
                    return;
                }

                addNewUser({name,email,role,password}).then((result) => {
                    if(result.status === 200)
                    {
                        this.$emit('userAdded',result.data.user);
                    }
                })

                this.resetForm();

                // Wait until the models are updated in the UI
                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            });
        },
        resetForm: function(){
          this.form.name = null;
          this.form.email = null;
          this.form.password = null;
          this.form.role = null;
        }
    }
}
</script>

<style scoped>

</style>
