<template>
    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Editeaza Link</p>
                <button
                    type="button"
                    class="delete"
                    @click="$emit('close')"/>
            </header>
            <section class="modal-card-body">

                <validation-provider vid="name" name="Adresa" rules="required" v-slot="{errors}">
                    <b-field label="Adresa">
                        <b-input
                            type="text"
                            v-model="form.address"
                            placeholder="Adresa"
                            required>
                        </b-input>
                    </b-field>
                    <span id="error">{{ errors[0] }}</span>
                </validation-provider>

                <validation-provider vid="role" name="Tip" rules="required|alpha_num" v-slot="{errors}">
                    <b-field label="Tip">
                        <b-select :value="form.type" v-model="form.type.id" placeholder="Selecteaza un tip" expanded required v-if="form.type">
                            <option
                                v-for="(value,name) in linkTypes"
                                :value="value"
                                :key="value">
                                {{ name}}
                            </option>
                        </b-select>
                    </b-field>
                </validation-provider>

            </section>
            <footer class="modal-card-foot">
                <div class="columns" style="width:100%">
                    <div class="column is-8">
                        <b-button
                            label="Inchide"
                            @click="$emit('close')" />
                        <b-button
                            label="Modifica Link"
                            @click="handleSubmit(editLink)" :disabled="invalid"
                            type="is-primary" />
                    </div>
                    <div class="column is-4">
                        <b-button
                            label="Sterge"
                            type="is-danger"
                            class="is-pulled-right"
                            @click="deleteLink" />
                    </div>
                </div>
            </footer>
        </div>
    </validation-observer>
</template>

<script>

import {editLink,deleteLink,getLinkTypes} from "../../modules/api/links";
import {ValidationProvider, ValidationObserver} from 'vee-validate/dist/vee-validate.full';

export default {
    name: "EditLink",
    props:['selectedLink'],
    components:{
        ValidationProvider,
        ValidationObserver
    },
    data(){
        return({
            form:{
                address:null,
                type:null,
            },
            linkTypes: null
        })
    },
    mounted() {
        this.form.address = this.selectedLink.address;
        this.form.type = this.selectedLink.type;

        getLinkTypes().then((result) => {
            this.linkTypes = result.data.types;
        }).catch((error)=>{})
    },
    methods:{
        editLink: function(){
            let address = this.form.address;
            let id = this.selectedLink.id;
            let type =  this.form.type;

            this.$refs.form.validate().then(success => {
                if (!success) {
                    return;
                }

                editLink({id,address,type}).then((result) => {
                    if(result.status === 200)
                    {
                        this.$emit('linkEdited',result.data.link);
                    }
                })

                this.resetForm();

                // Wait until the models are updated in the UI
                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            });
        },
        resetForm: function(){
          this.form.address = null;
        },
        deleteLink: function() {
            let link = this.selectedLink;

            this.$buefy.dialog.confirm({
                title: 'Stergere link',
                message: 'Esti sigur ca vrei sa <b>stergi</b> link-ul?',
                confirmText: 'Link sters',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    deleteLink(link.id).then(result => {
                        if(result.status === 200){
                            this.$emit('linkDeleted',result.data.link)
                        }
                    })
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
