<template>
    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Editeaza Utilizator</p>
                <button
                    type="button"
                    class="delete"
                    @click="$emit('close')"/>
            </header>
            <section class="modal-card-body">

                <validation-provider vid="name" name="Nume" rules="required|alpha_spaces" v-slot="{errors}">
                    <b-field label="Nume">
                        <b-input
                            type="text"
                            v-model="form.name"
                            placeholder="Nume"
                            required>
                        </b-input>
                    </b-field>
                    <span id="error">{{ errors[0] }}</span>
                </validation-provider>

                <validation-provider vid="email" name="Email" rules="required|email" v-slot="{errors}">
                    <b-field label="Email">
                        <b-input
                            type="email"
                            v-model="form.email"
                            placeholder="Email"
                            required>
                        </b-input>
                    </b-field>
                </validation-provider>

                <validation-provider vid="role" name="Rol" rules="required|alpha_spaces" v-slot="{errors}">
                    <b-field label="Rol">
                        <b-select v-model="form.role" placeholder="Selecteaza un rol" expanded required>
                            <option
                                v-for="role in roles"
                                :value="role.name"
                                :key="role.id">
                                {{ role.name }}
                            </option>
                        </b-select>
                    </b-field>
                </validation-provider>

                <validation-provider vid="password" name="Parola" rules="alpha_num" v-slot="{errors}">
                    <b-field label="Parola">
                        <b-input
                            type="password"
                            v-model="form.password"
                            password-reveal
                            placeholder="Parola"
                            >
                        </b-input>
                    </b-field>
                </validation-provider>

            </section>
            <footer class="modal-card-foot">
                <div class="columns" style="width:100%">
                    <div class="column is-8">
                        <b-button
                            label="Inchide"
                            @click="$emit('close')" />
                        <b-button
                            label="Modifica Utilizator"
                            @click="handleSubmit(editUser)" :disabled="invalid"
                            type="is-primary" />
                    </div>
                    <div class="column is-4">
                        <b-button
                            label="Sterge"
                            type="is-danger"
                            class="is-pulled-right"
                            @click="deleteUser" />
                    </div>
                </div>
            </footer>
        </div>
    </validation-observer>
</template>

<script>

import {getAllRoles,editUser,deleteUser} from "../../modules/api/users";
import {ValidationProvider, ValidationObserver} from 'vee-validate/dist/vee-validate.full';

export default {
    name: "EditUser",
    props:['selectedUser'],
    components:{
        ValidationProvider,
        ValidationObserver
    },
    data(){
        return({
            form:{
                name: null,
                email: null,
                password: null,
                role: null
            },
            roles: null
        })
    },
    mounted() {
        getAllRoles().then((result) => {
            if(result.status === 200){
                this.roles = result.data.roles;
            }
        }).catch((error) => {
            console.log(error);
        })

        this.form.name = this.selectedUser.name;
        this.form.email = this.selectedUser.email;
        this.form.role = this.selectedUser.roles[0].name;
        this.form.password = null;
    },
    methods:{
        editUser: function(){
            let name = this.form.name;
            let email = this.form.email;
            let password = this.form.password;
            let role = this.form.role;
            let id = this.selectedUser.id;

            this.$refs.form.validate().then(success => {
                if (!success) {
                    return;
                }

                editUser({id, name,email,role,password}).then((result) => {
                    if(result.status === 200)
                    {
                        this.$emit('userEdited',result.data.user);
                    }
                })

                this.resetForm();

                // Wait until the models are updated in the UI
                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            });
        },
        resetForm: function(){
          this.form.name = null;
          this.form.email = null;
          this.form.password = null;
          this.form.role = null;
        },
        deleteUser: function() {
            let user = this.selectedUser;

            this.$buefy.dialog.confirm({
                title: 'Stergere utilizator',
                message: 'Esti sigur ca vrei sa <b>stergi</b> utilizatorul?',
                confirmText: 'Utilizator sters',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => {
                    deleteUser(user.id).then(result => {
                        if(result.status === 200){
                            this.$emit('userDeleted',result.data.user)
                        }
                    })
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
