<template>
    <validation-observer ref="form" v-slot="{ invalid, handleSubmit }">
        <div class="card-content">
            <section class="section">

                <validation-provider vid="email" name="Email" rules="required|email" v-slot="{errors}">
                    <b-field
                        label="Email"
                        :message="errors[0]"
                    >
                        <b-input type="email" v-model="loginForm.email" />
                    </b-field>
                </validation-provider>

                <validation-provider vid="password" name="Password" rules="required|min:6" v-slot="{errors}">
                    <b-field
                        label="Password"
                        :message="errors[0]"
                    >
                        <b-input type="password" v-model="loginForm.password" />
                    </b-field>
                </validation-provider>
            </section>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <b-button type="is-primary" @click="handleSubmit(submit)" :disabled="invalid" expanded>Login</b-button>
            </p>
        </footer>
    </validation-observer>
</template>

<script>
import {loginUser} from "../../modules/api/authentication";
import {ValidationProvider, ValidationObserver} from 'vee-validate/dist/vee-validate.full';

export default {
    name: "LoginForm",
    components:{
        ValidationProvider,
        ValidationObserver
    },
    data(){
        return({
            loginForm:{
                email: null,
                password: null
            }
        })
    },
    methods:{
        submit: function(){
            let email = this.loginForm.email;
            let password = this.loginForm.password;

            this.$refs.form.validate().then(success => {
                if (!success) {
                    return;
                }

                loginUser({email,password}).then(result => {
                    if(result.status === 200){
                        let token = result.data.token;
                        let user = result.data.user;
                        this.$store.dispatch('login',{token,user})

                        this.$router.push({name:'Dashboard'});
                    }
                }).catch(error => {
                    if(error.response.data && error.response.data.errors){
                        this.$refs.form.setErrors(error.response.data.errors);
                    }
                })

                // Resetting Values
                this.loginForm.email = this.loginForm.password = null;

                // Wait until the models are updated in the UI
                this.$nextTick(() => {
                    this.$refs.form.reset();
                });
            });


        }
    }
}
</script>

<style scoped>

</style>
